/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    overflow: hidden;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
      padding: 0;
    margin: 0;
}


html, body {
    height: 100%;
    width: 100%;
}











#top,
#bottom,
#left,
#right {
  background: #FFF;
  position: fixed;
  z-index: 9999999999999999;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 15px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 15px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}





@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #top,
  #bottom,
  #left,
  #right {
    display: none;
  }
}











.hamburger-wrapper {
    padding: 0;
    position: fixed;
    top: 25px;
    left: 25px;
    width: 65px;
    z-index: 999;
}

.inner-hamburger-wrapper {
    width: 100%;
    padding: 8px 0;
}

.hamburger {
    width: 50%;
    height: 4px;
    margin: 5px auto;
    background: #FFF;
    border-radius: 0;
}



.navigation-wrapper {
    background: rgba(0, 0, 0, .9);
    padding: 65px 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 900;
    display: none;
}

.navigation {
    padding: 20px 5% 0 5%;
    display: none;
}

.show-menu {
    display: block;
}

.navigation li {
    list-style: none;
    margin: 50px 0;
    transition: all ease .6s;
} .navigation li.small-padding {
    margin: 0;
  }

.navigation li a {
    display: block;
    padding: 10px 0 10px 1%;
    color: #bbb;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 150%;
    letter-spacing: 2px;
    border-left: 3px solid #000;
    -moz-transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.navigation li a:hover {
    color: #fff;
    padding-left: 2%;
    border-left: 3px solid #eee;
}



img {
  height: auto;
  max-width: 100%;
}

#wrap {
  position: relative;
}

.container {
  position: relative;
}

.tb {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

.tb .tb-cell {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}



#header-wrap {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#header-wrap .container {
  height: 100%;
  position: relative;
}

#header-wrap .logo {
  margin: 15px;
  text-align: center;
}

#header-wrap .logo img {
  max-width: 100%;
  max-height: 150px;
  display: inline-block;
  z-index: 4;
  position: relative;

}

#header-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 2;
}

.slide {
  height: 100vh;
}


.slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
}

.slick-prev {
  left: 25px;
  z-index: 3;
}

.slick-next {
  right: 25px;

}

.slick-dots {
  bottom: 25px;
  margin-left: 0;
  /* Fixes the visible horizontal scroll bar */
}

.slick-dots li {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}



.slick-dots li button {
    width: 30px;
    height: 30px;
    padding: 5px;
    color: transparent;
    z-index: 3;
}

.slick-prev:before, .slick-next:before {
    font-size: 48px;
    font-family: 'FontAwesome';
    z-index: 3;
}

.slick-dots li button:before {
    font-family: 'FontAwesome';
    font-size: 30px;
    content: "\f28e";
    color: #fff;
}

.slick-dots li.slick-active button:before {
  content: "\f01d";
  color: #fff;
}


.slick-prev:before {
    content: "\f048";
  }

.slick-next:before {
    content: "\f051";
  }

  audio {
    display: none;
  }

/* ==========================================================================
   Media Queries
   ========================================================================== */



@media (max-width: 767px) {
    .slick-prev,
    .slick-next {
        display: none !important;
    }

    #header-wrap .logo img {
      max-width: 300px;
      max-height: 150px;
    }


}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}